# Dependencies
/node_modules

# Environment variables
.env

# Logs
*.log

# Editor directories and files
.vscode/
*.sublime-workspace
*.sublime-project

# Optional: build/output directory
/dist
/build

# MacOS specific
.DS_Store
